.header {
  padding-block: 25px;
  background: rgb(198, 207, 208);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: 80px;
}

.nav p {
  font-size: 22px;
  color: black;
  cursor: pointer;
  font-family: Poppins;
}

.nav p:hover {
  transition: 0.2s;
  color: rgb(255, 68, 68);
}

.icons {
  font-size: 25px;
  display: flex;
  gap: 22px;
  cursor: pointer;
}
